.button{
    background-color: rgb(168, 222, 222);
    padding: 6px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(72, 27, 114);
}
.input {
    height: 35px;
    margin-left: 35px;
    border-radius: 5px;
    color: rgb(72, 27, 114);
}
.title {
    color: rgb(72, 27, 114);
    margin-left: 25px;
}

