.title {
    color: rgb(72, 27, 114);
    margin-left: 25px;
}
.link{
    text-decoration: none;
}
.item{
    margin-top: 8px;
    color: rgb(72, 27, 114);
    font-size: 25px;
    text-decoration: none;
    list-style: none;
    margin-left: 0px;
}
.item_film{
    background-color: rgb(168, 222, 222);
}