.item {
    display: flex;
    list-style: none;
    background-color: rgb(168, 222, 222);
}
.list{
    text-decoration: none;
    margin-right: 25px;
}
.link{
    text-decoration: none;
    font-size: 35px;
}